header{
  height: 90px;
  background-color: #06131f;
}

main{
  height: calc(100vh - 90px);
  background: #1d2d3c;
}
.mc-card{
  background-color: #112030;
  height: 330px;
  width: 265px;
  color: white;
}
.img-box{
  height: 180px;
  width: 180px;
}
img{
  height: 180px;
  width: 180px;
  
}